Repository Tsalright-Technologies/governance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tsalright-s-crew/community, @tsalright-s-crew/core, @tsalright-s-crew/infrastructure

.github/CODEOWNERS:

contributors/*.yml  @tsalright-s-crew/community
teams/*.yml         @tsalright-s-crew/community
README.md           @tsalright-s-crew/core
repos/*.yml         @tsalright-s-crew/infrastructure

update the trigger branch to customize
  .github/workflows/discord.yml
  .github/workflows/terraform.yml
  repos/crcc-prayer-map-api.yml
  repos/crcc-prayer-map.yml
  repos/governance.yml
  repos/infrastructure.yml
Owners: @tsalright-s-crew/infrastructure

tweaked for successful run
  config.go
  repos/crcc-prayer-map-api.yml
  repos/crcc-prayer-map.yml
  repos/governance.yml
  repos/infrastructure.yml
Owners: @tsalright-s-crew/infrastructure

update repo settings to match existing settings
  repos/crcc-prayer-map-api.yml
  repos/crcc-prayer-map.yml
  repos/governance.yml
Owners: @tsalright-s-crew/infrastructure

flagged repos as private
  repos/crcc-prayer-map-api.yml
  repos/crcc-prayer-map.yml
Owners: @tsalright-s-crew/infrastructure

removed last mailgun renmant
  cmd/import/main.go
Owners: none

updated .gitcommit
  .gitignore
Owners: none

updated .gitignore
  .gitignore
  .terraform.lock.hcl
Owners: none

Update governance.yml
  repos/governance.yml
Owners: @tsalright-s-crew/infrastructure

Add azure-pipeline-templates
  repos/azure-pipeline-templates.yml
  teams/maintainers.yml
Owners: @tsalright-s-crew/infrastructure, @tsalright-s-crew/community

remove infrastructure
  repos/infrastructure.yml
  teams/infrastructure.yml
Owners: @tsalright-s-crew/infrastructure, @tsalright-s-crew/community

updated dirrbick to be an admin
  contributors/dirrbick.yml
Owners: @tsalright-s-crew/community

Add woodmancafe and tfmodule to repos
  repos/tfmodule-azure-spa.yml
  repos/woodmancafe.yml
  teams/maintainers.yml
Owners: @tsalright-s-crew/infrastructure, @tsalright-s-crew/community
